<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{.title}}</title>
    <meta name="keywords" content="{{.keywords}}"/>
    <meta name="description" content="{{.description}}"/>
    <meta name="baidu_ssp_verify" content="fb075e1f6b5045ece5646320c0e2f4c8">
    <meta name="360-site-verification" content="469fb56c2e71571c958e30bb52493ae1"/>
    {{/*    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*/}}
    <script src="/static/home/assets/js/jquery-2.0.2.min.js"></script>
    <script src="/static/home/assets/js/jquery.cookie.min.js"></script>
    <script src="/static/home/assets/js/base.js"></script>
    <link rel="icon" href="/static/home/assets/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/home/assets/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{.carCss}}/base.css" media="screen" type="text/css">
</head>
<body>
{{.show}}
asdfasdfasdf
</body>
</html>